<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h2><%= @artist.name.capitalize %> <small>Albums (<%= @albums.count %>)</small></h2>
    </div>
  </div>
  
  <div class="col-xs-12 col-md-4 visible-xs visible-sm margin-bottom">
    <%= image_tag(@artist.image_url, class:'img-responsive') unless @artist.image_url.blank? %>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="row">
      
        <% @albums.each do |album| %>
          <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= image_tag(album.image_url, class:'img-responsive') unless album.image_url.blank? %>
              
                <h6><%= album.name %></h6>
                <p><%= album.released_at %></p>
            
              </div>
            </div>
          </div>
        <% end %>
      
    </div>
    
  </div>
  <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
    <%= image_tag(@artist.image_url, class:'img-responsive') unless @artist.image_url.blank? %>
  </div>

</div>